/* Background */
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    font-family: 'Segoe UI', sans-serif;

    background: rgb(56, 56, 56);
}

/* Calculator Card */
.calculator{
    background:#15182a;
    padding:35px;
    border-radius:30px;
    text-align:center;
}

/* TITLE FIX */
h2{
    color:#e6ecff;
    font-weight:600;
    margin-bottom:20px;
}

/* Display */
#result{
    width:95%;
    height:75px;
    border:none;
    outline:none;
    border-radius:18px;
    background:#05070f;
    color:#58c4ff;

    font-size:34px;
    text-align:right;
    padding-right:25px;
    margin-bottom:30px;
}

/* Grid */
.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:18px;
}

/* Buttons */
button{
    height:70px;
    width: 100%;
    border:none;
    border-radius:18px;
    font-size:20px;
    color:#d6dcff;
    cursor:pointer;
    background:#1b1f36;
}

/* Operator color */
.operator{
    color:#6fd3ff;
    font-weight:bold;
}

/* Equal button (Glow FIX) */
.equal{
    background:rgba(0,255,255,0.7);
    color:#001018;
    font-weight:bold;
}

/* Clear button */
.clear{
    background:#cc0000;
    color:white;
    font-weight:bold;
    grid-column:span 2;
}

/* Delete button */
.delete{
    grid-column:span 2;
}
